{% extends "base.html" %}
{% load static i18n %}
{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_base_css.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
{% endblock %}
{% block content %}
    <style>
    body {
        background-image: none;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #0b5ed7;
        color: white;
    }
</style>
<div class="container ">
    <h1 style="font-size: 50px;" class="text-xxl-center m-3 pb-2 border-blue-bottom">{% trans "АВТО В ПРИВАТНИЙ ЛІЗИНГ — ТВІЙ НОВИЙ РІВЕНЬ" %}</h1>

    <div class="text-center">
        <img alt="KornieievAuto" src="{% static 'deps/images/indiv2.jpeg' %}">
    </div>

    <h2 class="fw-bold text-xl-center blue">{% trans "KORNIEIVAUTO – ПРИВАТНИЙ АВТОЛІЗИНГ" %}</h2>

    <p>{% trans "Мрії мають здійснюватися НА МАКСИМУМ! Живи зараз, інвестуй у себе, бери авто у приватний лізинг! Саме це послання KornieievAuto, що почав надавати автомобілі в оперативний лізинг для фізичних осіб. Уже 25 років в Україні спеціалісти KornieievAuto здійснюють лізинг сотень автомобілів з повним сервісом для великих компаній. Тепер настав час надати доступ до цієї послуги і тобі!" %}</p>

    <h3 class="fw-bold text-xl-start border-blue-top">{% trans "Як працює приватний лізинг KornieievAuto?" %}</h3>

    <p>{% trans "Ти інвестуєш у себе, свою родину чи бізнес, а ми купуємо для тебе новий автомобіль і піклуємося про нього. Ти користуєшся автомобілем за щомісячну плату, яка включає повний пакет сервісного обслуговування." %}</p>

    <h3 class="fw-bold">{% trans "Що входить до пакету обслуговування?" %}</h3>

    <ul class="custom-list">
        <li>{% trans "Підбираємо для тебе новий автомобіль за твоїми потребами та купуємо його" %}</li>
        <li>{% trans "Оплачуємо податок до пенсійного фонду, податок на розкіш, реєструємо та страхуємо авто, передаємо його тобі" %}</li>
        <li>{% trans "Організовуємо обслуговування авто лише на офіційних сервісах, доставляємо авто на сервіс і повертаємо назад" %}</li>
        <li>{% trans "Двічі на рік міняємо шини та зберігаємо сезонні комплекти, доставляючи авто на шиномонтаж і назад" %}</li>
        <li>{% trans "Надаємо підмінний автомобіль, якщо ремонт триває понад добу" %}</li>
        <li>{% trans "Готуємо документи для виїзду автомобіля за кордон" %}</li>
    </ul>

    <h3 class="fw-bold">{% trans "Як формується оплата?" %}</h3>

    <p>{% trans "Під час підписання договору ти сплачуєш одразу за 4 місяці користування автомобілем: за перший місяць та за останні три (як гарантійний платіж). Далі — щомісячно рівними платежами. Розмір щомісячного платежу фіксований на весь термін договору. За одну щомісячну плату ти отримуєш новий автомобіль із пакетом обслуговування «все включено»." %}</p>

    <h3 class="fw-bold">{% trans "Як обрати автомобіль мрії?" %}</h3>

    <p>{% trans "Обирай автомобіль будь-якої марки у бажаній комплектації, і ми замовимо його для тебе у офіційного дилера. Якщо ти вже вибрав авто в салоні — ми купимо його для тебе через офіційні дилерські мережі в Україні й доставимо." %}</p>

    <h3 class="fw-bold">{% trans "Як отримати авто сьогодні?" %}</h3>

    <p>{% trans "Обирай автомобіль з нашого складу і отримуй його в день підписання договору. Уже в автопарку для приватного лізингу: Skoda Fabia, Skoda Scala, Toyota Corolla, Toyota Camry, Renault Duster, Suzuki Vitara, Skoda Karoq, Skoda Kodiaq, Hyundai Tucson, Toyota RAV4, Toyota Highlander." %}</p>

    <h3 class="fw-bold">{% trans "Як отримати автомобіль у приватний лізинг?" %}</h3>

    <ul class="custom-list">
        <li>{% trans "Обери автомобіль" %}</li>
        <li>{% trans "Зв’яжись із нами за номером +38 067 462 05 20" %}</li>
        <li>{% trans "Надішли документи" %}</li>
        <li>{% trans "Підпиши договір" %}</li>
        <li>{% trans "Отримай автомобіль" %}</li>
    </ul>

    <h3 class="fw-bold">{% trans "Які документи потрібні?" %}</h3>

    <ul class="custom-list">
        <li>{% trans "Паспорт" %}</li>
        <li>{% trans "Водійське посвідчення" %}</li>
        <li>{% trans "Ідентифікаційний код" %}</li>
        <li>{% trans "Виписка з банку" %}</li>
    </ul>

    <h3 class="fw-bold">{% trans "Які твої переваги?" %}</h3>

    <ul class="custom-list">
        <li>{% trans "Отримаєш саме той автомобіль, про який мріяв" %}</li>
        <li>{% trans "Збережеш заощадження для важливих справ" %}</li>
        <li>{% trans "Заощадиш час для глобальних завдань" %}</li>
        <li>{% trans "Будеш спокійним, адже ти завжди з автомобілем за будь-яких обставин" %}</li>
        <li>{% trans "Живи зараз — кермуй сьогодні" %}</li>
    </ul>

    <h3 class="fw-bold">{% trans "Чому обирати KornieievAuto для лізингу авто?" %}</h3>

    <p>{% trans "KornieievAuto — локальний підрозділ міжнародного оператора Avis, який 25 років в Україні надає в лізинг автопарки великим компаніям та повний комплекс обслуговування, а тепер і приватним особам." %}</p>

    <ul class="custom-list">
        <li>{% trans "77 років бренду KornieievAuto у світі" %}</li>
        <li>{% trans "25 років діяльності KornieievAuto в Україні" %}</li>
        <li>{% trans "3 500 автомобілів у лізинговому автопарку KornieievAuto" %}</li>
        <li>{% trans "500 автомобілів у прокатному автопарку KornieievAuto" %}</li>
        <li>{% trans "450 сервісних партнерів обслуговують автопарк KornieievAuto" %}</li>
    </ul>

    <h3 class="fw-bold">{% trans "Які наші контакти?" %}</h3>

    <p>{% trans "Володимир Корнієв, менеджер із приватного лізингу: +38 067 000 00 00" %}</p>

    <p>{% trans "KornieievAuto, оператор автолізингу: 0 800 000 000 — безкоштовно з мобільних в Україні, +38 044 000 00 00 — для дзвінків з-за кордону" %}</p>

    <p>{% trans "Спробуй!" %}</p>
</div>
{% endblock %}
